/* Bg*/
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: #0d1324;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}


.container {
  background: #2a2f3c;
  margin-top: 60px;
  padding: 32px;
  width: 600px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0, 0, 60, 0.45);
  color: #fff;
}


.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 22px;
}

/* input */
.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 18px;
}

.form-row input {
  flex: 1;
  padding: 12px 14px;
  border-radius: 10px;
  border: 2px solid #1f2230;
  background: #1a1e2d;
  color: #fff;
  font-size: 14px;
}

.form-row input::placeholder {
  color: #7d8498;
}

/* + tombol */
.add-btn {
  background: #8b95ff;
  border: none;
  color: #0d1324;
  width: 46px;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
}


.buttons-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

/* filter */
.filter-dropdown {
  position: relative;
}

#filter-toggle {
  background: #3e4354;
  color: white;
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  min-width: 170px;
  text-align: left;
}

/* filter menu */
.filter-menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 170px;
  background: #3e4354;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.35);
  z-index: 50;
}

.filter-option {
  padding: 10px 14px;
  cursor: pointer;
  font-weight: 500;
  color: white;
}

.filter-option:hover {
  background: #8b95ff;
  color: #000;
}


.hidden {
  display: none;
}

/* tombol delete */
.delete-all {
  background: #8b95ff;
  color: #000;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-weight: 600;
}

/* table */
.table-box {
  background: #1a1e2d;
  padding: 0;
  border-radius: 12px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #111524;
}

thead th {
  padding: 14px;
  font-size: 14px;
  font-weight: 600;
  color: #8f96ac;
}

tbody td {
  padding: 14px;
  color: #d2d7e6;
  border-top: 1px solid #2f3548;
}

.empty {
  text-align: center;
  font-size: 14px;
  padding: 18px;
  color: #7d8498;
}

/* action button */
.action-btn {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: #3f4557;
  color: white;
  margin-right: 5px;
}

.action-btn.delete {
  background: #ef4444;
}
